* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header .menu {
    background: #69CF9D;
}
header .menu ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
header .menu ul li {
    float: left;
    list-style-type: none;
    padding: 8px;
}
header .menu ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.side {
    border-radius: 100%;
    background: white;
    height: 20px;
    width: 20px;
    margin-block-start: 1px;
    margin-inline-start: 5px;
    text-align: center;
    color: black;
}
.nav-right {
    float: right;
} 
/* sidebar admin */
aside{
    height: 100%;

}
aside .sidebar {
    background: rgb(255, 255, 255);
    float: left;
    width: 18%;
    height: 100%;
    overflow-y: auto;
}

aside .sidebar img {
    padding: 3px;
    margin: 3px;
    width: 220px;
}

aside .sidebar button {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: -2px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    width: 175px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #69CF9D;
    color: white;
    font-size: 14px;
}
aside .sidebar button p {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
} 

aside .sidebar button i {
    margin-right: 5px;
    padding-top: 5px;

}

aside .sidebar .menu {
    width: 100%;
    background: white;
    margin-top: -15px;
}

aside .sidebar .menu .item {
    position: relative;
    cursor: pointer;
}

aside .sidebar .menu .item a {
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 3px 10px;
    line-height: 25px;
}

aside .sidebar .menu .item i {
    margin-right: 15px;
}

aside .sidebar .menu .item a .dropdown {
    position: absolute;
    right: 35px;
    margin: 5px;
    transition: 0.3s ease;
}

aside .sidebar .menu .item .sub-menu { 
    background: rgba(255, 255, 255, 0.1); 
    display: none;
}

aside .sidebar .menu .item .sub-menu a {
    padding-left: 40px;
    color: black;
    text-decoration: none;
}

.rotate {
    transform: rotate(90deg);
}

/* isi dashboard admin */
main{
    background: #E8E8E8;
    float: left;
    height: 100vh;
    width: 82%;
}

/* dashboard admin */
aside main .tampilan-dashboard {
    padding-top: 5px;
    margin: 10px;
    height: 35px;
    width: 170px;
    background: white;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}

aside main .tampilan-dashboard1 {
    float: left;
    margin: 20px;
    color: white;
} 

aside main .tampilan-dashboard2 {
    float: right;
    margin: 20px;
    color: white;
} 

aside main .tampilan-dashboard1 .tampilan-dash1 {
    margin-left: 75px;
    height: 80px;
    width: 415px;
    border-radius: 10px;
    background: #69CF9D;
}

aside main .dash-icons {
    margin-left: 10px;
    padding-top: 8px;
}

aside main .dash-keterangan {
    text-align: center;
    margin-top: -40px;
    font-size: 16px;
    font-weight: bold;
}

aside main .dash-notif {
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    margin-block-start: -5px;
} 

aside main .tampilan-dashboard1 .tampilan-dash2 {
    margin-top: 25px;
    margin-left: 75px;
    height: 80px;
    width: 415px;
    border-radius: 10px;
    background: #FF8A48;
}

aside main .tampilan-dashboard2 .tampilan-dash3 {
    margin-right: 75px;
    height: 80px;
    width: 415px;
    border-radius: 10px;
    background: #FF8A48;
}
aside main .tampilan-dashboard2 .tampilan-dash4 {
    margin-top: 25px;
    margin-right: 75px;
    height: 80px;
    width: 415px;
    border-radius: 10px;
    background: #69CF9D;
}
aside main .diagram img {
    margin-left: 200px;
    width: 60%;
    height: 10%;
}
/* dashboard gudang */
aside main .tamp1{
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 10px; 
    color: white;  
}
aside main .tamp1_1{
    height: 75px;
    width: 33%;
    float: left;
    background: #69CF9D;
    border: 1px #ada5a5;
    box-shadow: 0px 3px #ada5a5;
    border-right: 1px solid #ada5a5;
    
}
aside main .tamp1_1 i{
    float: left;
    margin-top: 15px;
    margin-left: 50px;
}
aside main .tamp1_1 p{
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 12px;
}
aside main .tamp1_1 .notif{
    margin-left: -90px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    
}

aside main .tamp1_2 i{
    float: left;
    margin-top: 15px;
    margin-left: 50px;
}
aside main .tamp1_2 p{
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 12px;
}
aside main .tamp1_2 .notif{
    margin-left: -110px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px; 
}

aside main .tamp1_3 i{
    float: left;
    margin-top: 15px;
    margin-left: 50px;
}
aside main .tamp1_3 p{
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 12px;
}
aside main .tamp1_3 .notif{
    margin-left: -110px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    
}

aside main .tamp1_2{
    height: 75px;
    width: 33%;
    float: left;
    /* margin-left: 20px; */
    background: #69CF9D;
    border: 1px #ada5a5;
    box-shadow: 0px 3px #ada5a5;
    border-right: 1px solid #ada5a5;
}
aside main .tamp1_3{
    height: 75px;
    width: 33%;
    float: left;
    background: #69CF9D;
    border: 1px #ada5a5;
    box-shadow: 0px 3px #ada5a5;
}

aside main .tamp2{
    margin-left: 50px;
    margin-top: 115px;
    padding-left: 10px;  
}
aside main .tamp2_1{
    height: 65px;
    width: 47%;
    float: left;
    background: #ffffff;
    border: 1px solid #69CF9D;
    box-shadow: 0px 3px #ada5a5;
    
}
aside main .tamp2_2{
    margin-left: 50px;
    height: 65px;
    width: 47%;
    float: left;
    background: #ffffff;
    border: 1px solid #69CF9D;
    box-shadow: 0px 3px #ada5a5;   
}
aside main .tamp2_1 i{
    float: left;
    margin-top: 10px;
    margin-left: 60px;
}
aside main .tamp2_1 p{
    float: left;
    margin-left: 140px;
    margin-top: 7px;
    font-size: 16px;
}
aside main .tamp2_1 .notif1{
    margin-left: -45px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
}
aside main .tamp2_2 i{
    float: left;
    margin-top: 10px;
    margin-left: 60px;
}
aside main .tamp2_2 p{
    float: left;
    margin-left: 140px;
    margin-top: 7px;
    font-size: 16px;
}
aside main .tamp2_2 .notif1{
    margin-left: -60px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
}
aside main .tamp3{
    margin-left: 60px;
    margin-top: 200px;
    padding-left: 10px;
    height: 100vh;
    width: 93%;  
    background: white;
    border-radius: 10px;
}
aside main .tamp3 .jud{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size: 12px;
    color: #9E9E9E;
    font-weight: bold;
}
aside main .tamp3 .garis_horizontal{
    border-top: 2px #69CF9D solid;
    height: 0px;
    width: 99%;
}
aside main .tamp3 .ket1{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: #9E9E9E;
    font-weight: bold;
}

aside main .tamp3 .tamp3_1{
    margin-left: 20px;
    margin-top: -40px;
}

/* aside main .tamp3 .tabel1 {
        color: #D9D9D9;
        border-collapse: collapse;
        width: 96%;
        border: 2px solid #D9D9D9;
        margin-top: 50px;

    }
    
    aside main .tamp3 .tabel1 tr th {
        background: #E8EFFF;
        color: #9E9E9E;
        font-weight: bold;
        font-size: 14px;
        border-left: 2px solid #D9D9D9;
    }
    
    aside main .tamp3 .tabel1, th, td {
        padding: 8px 20px;
        text-align: center;
        border-left: 2px solid #D9D9D9;
    }
    
    aside main .tamp3 .tabel1 tr:nth-child(odd) {
        background: #F6F6F6;
    } */

/* jadwal survei (sales) */
aside main .tampilan-isi {
    background: white;
    width: 95%;
    height: 85%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-radius: 20px;
}

aside main .tampilan-isi .filter {
    float: left;
    margin-left: 45px;
    margin-top: 20px;
    color: #B7B7B7;
    font-size: 14px;
    font-weight: bold;
}
aside main .tampilan-isi .search {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #B7B7B7;
    border-radius: 10px;
}
aside main .tampilan-isi .search input{
    padding-left: 10px;
    border: none;
}
aside main .tampilan-isi .search button{
    margin-left: -15px;
    border: none;
    background: none;
}

aside main .tampilan-isi table {
    width: 93%;
    text-align: center;
    margin-left: 35px;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

aside main .tampilan-isi th {
    background-color: #B0B0B0;
    color: white;
    padding: 5px;
    font-size: 14px;
}

aside main .tampilan-isi table tr .corner-awal {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

aside main .tampilan-isi table tr .corner-end {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

aside main .tampilan-isi td {
    /* width: 5%; */
    text-align: center;
    /* border: 1px solid black; */
    background-color: #F1F1F1;
    font-size: 12px;
    padding: 5px;
}

aside main .tampilan-isi td a {
    color: black;
}

aside main .tampilan-isi h2 {
    color: white;
}
aside main .tampilan-isi .page{
    margin-left: 40%;
    margin-top: 10px;
   
}

/* form jadwal survei (sales) */
aside main .tampilan-isi form{
    margin-left: 50px;
    padding-block-start: 5px;
    font-size: 14px;
}
aside main .tampilan-isi form .judul{
    color: #9E9E9E;
    padding: 3px;
    margin-top: 10px;
}
aside main .tampilan-isi form .keterangan input{
    border: 2px solid #69CF9D;
    height: 25px;
    width: 80%;
    border-radius: 10px;
    padding: 2px;
    margin-top: 3px;
}
aside main .tampilan-isi form .keterangan select{
    border: 2px solid #69CF9D;
    height: 35px;
    width: 81%;
    border-radius: 10px;
    padding: 2px;
    margin-top: 3px;
}
aside main .tampilan-isi form button{
    float: right;
    margin-right: 200px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background: #69CF9D;
    border: none;
    color: white;

}

/* form gudang_cek */
aside main .tampilan-isi .kiri{
    float: left;
    padding-top: 50px;
    padding-left: 50px;
    
}
aside main .tampilan-isi .tengah{
    float: left;
    padding-top: 50px;
    padding-left: 100px;
}

aside main .tampilan-isi .kanan{
    float: left;
    padding-top: 50px;
    padding-left: 100px;
}
aside main .tampilan-isi .kiri .judul1{
    color: #9E9E9E;
    font-size: 12px; 
    padding-bottom: 15px;
}
aside main .tampilan-isi .kiri .keterangan1{
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 30px;
}

aside main .tampilan-isi .tengah img{
    width: 125px;
    height: 125px;
}
aside main .tampilan-isi .tengah .judul1{
    color: #9E9E9E;
    font-size: 12px;
    padding-bottom: 15px;
}
aside main .tampilan-isi .tengah .keterangan1{
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 30px;
}
aside main .tampilan-isi .kanan button{
    height: 35px;
    width: 100px;
    background: #69CF9D;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 100px;

}

aside main .tampilan-isi .kanan .judul1{
    color: #9E9E9E;
    font-size: 12px;
    padding-bottom: 15px;
}
aside main .tampilan-isi .kanan .keterangan1{
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 30px;
}
aside main .tampilan-isi .kanan .keterangan1 select{
    border: none;
}

aside main .tampilan-isi .kanan .keterangan1 input{
    border: none;
}

/* di dalam tampilan isi */

aside main .tampilan-isi .creat{
    float: left;
    margin-top: 15px;
    margin-left: 40px;
}
aside main .tampilan-isi .creat a{
    color: #FF0000;
    font-weight: bold;
    font-size: 14px;
}
aside main .tampilan-isi .filter1{
    float: right;
    margin-top: 10px;
    color: #B7B7B7;
    font-size: 14px;
    font-weight: bold;

    
} 
aside main .tampilan-isi .search1{
    float: right;
    margin-top: 10px;
    border:1px solid #B7B7B7;
    border-radius: 10px;
    margin-right: 50px;
}

aside main .tampilan-isi .search1 input{
    padding-left: 10px;
    border: none;
}
aside main .tampilan-isi .search1 button{
    margin-left: -15px;
    border: none;
    background: none;
} 
aside main .tampilan-isi .tamp4 .garis_horizontal{
    border-bottom: 2px #69CF9D solid;
    height: 0px;
    width: 96%;
    margin-left: 20px;
    padding-top: 45px;
}
aside main .tampilan-isi .tamp4 .ket1{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 14px;
    color: #9E9E9E;
    font-weight: bold;
}

aside main .tampilan-isi .tamp4 .tamp4_1{
    /* margin-left: 5px; */
    margin-top: -40px;
}

aside main .tampilan-isi .tamp4 .tamp4_1 table {
    color: black;
    border-collapse: collapse;
    width: 93%;
    border: 2px solid #D9D9D9;
    margin-top: 50px;
}

aside main .tampilan-isi .tamp4 .tamp4_1 tr th {
    background: #E8EFFF;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-left: 2px solid #D9D9D9;
}

aside main .tampilan-isi .tamp4 .tamp4_1 tr td {
    padding: 8px 20px;
    text-align: center;
    border-left: 2px solid #D9D9D9;
    color: black;
}

aside main .tampilan-isi .tamp4 .tamp4_1 td:nth-child(odd) {
    background: #F6F6F6;
}

aside main .tampilan-isi .tamp4 .tamp4_1 td:nth-child(even) {
    background: white;
}



/* form create barang */
aside main .tampilan-isi form .keterangan .input1{
    background: #a7e1c5;
    border: none;
    height: 30px;
    width: 90%;
}
